.pay {
    height: 80vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: center;
}

.pay-info {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.pay-info__title {
    color: #707070;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pay-info__method {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.pay-info__method-item {
    width: 185px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.google {
    background-color: black;
}

.pay-info__method-item-picture {
    width: 100px;
    height: 42px;
}

.google-picture {
    width: 60px;
    height: 25px;
}

.pay-info__method-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pay-info__line {
    display: flex;
        align-items: center;
}

.pay-info__line-left {
    width: 100%;
    height: 1px;
    background-color: #DFDFDF;
}

.pay-info__line-title {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    width: 200px;
text-align: center;
}

.pay-info__line-right {
    width: 100%;
    height: 1px;
    background-color: #DFDFDF;
}

.pay-basket {
    background: #DADADA;
    height: 100%;
    width: 100%;
}

.pay-basket__container {
    /* background-color: orange; */
    margin-top: 60px;
    margin-left: 40px;
    width: 400px;
    height: 90%;
}

.pay-basket__item-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 30px;
}

.pay-basket__item {
    display: grid;
    grid-template-columns: 75px 250px 75px;
    align-items: center;
}

.item-number {
    position: absolute;
    right: -11px;
    top: -11px;
    background-color: grey;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.item-picture {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    position: relative;


}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #b3b3b3;
}

.item-text {
    display: flex;
    flex-direction: column;
}

.item-text__name {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.item-text__description {
    color: #6C6C6C;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.item-price {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.item-price__container {
    display: flex;
    justify-content: space-between;
}

.item-price__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.item-price__number {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.pay-basket__price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.pay-basket__price-title {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.5px;
}

.pay-basket__price-number {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.5px;
}